*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
    background: #000 url() no-repeat;
    background-size: cover;
}
header{
    min-height: 15vh;
    grid-area: header;
    display: flex;
    justify-content: flex-end;
}
nav{
    margin: 15px 30px;
}
nav ol{
    list-style: none;
}
nav ol li{
    display: inline-block;
    margin: 0 15px 10px 20px;
}
nav ol li{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
nav ol li.active{
    border-bottom: 2px solid #fff;
}
nav ol li:hover{
    border-bottom: 2px solid #fff;
}
nav ol li.main{
    font-weight: bold;
}
nav ol li.square{
    border: 2px solid #fff;
    margin-right: 0;
    padding: 5px 10px; 
}
nav ol li.square:hover{
    background-color: rgba(255, 255, 255,0.5);
}
@media screen and (max-width: 600px){
    nav{
        display: none;
    }
}
.btn-menu{
    cursor: pointer;
    float: right;
}
.barra1, .barra2, .barra3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .barra1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .barra2 {
    opacity: 0;
}
.change .barra3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
menu{
    margin: 15px 30px;
    width: 100%;
}
menu ol{
    display: none;
    list-style: none;
    height: 100vh;
    padding-top: 30%;
}
menu ol li{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
menu ol li a{
    color: #fff;
    text-decoration: none;
}
menu ol li.active a{
    border-bottom: 2px solid #fff;
}
menu ol li.main a{
    font-weight: bold;
}
menu ol li.square a{
    border: 2px solid #fff;
    margin-right: 0;
    padding: 5px 10px; 
}
@media screen and (min-width:600px){
    menu{
        display: none;
    }
}
main{
    min-height: 75vh;
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#carousel{
    width: 50%;
}
@media screen and (max-width:800px){
    #carousel{
        width: 100%;
    }
   
}
.carousel-text-container{
    border-left: 2px solid #fff;
}
.carousel-text-container p{
    padding: 0 20px;
    color: #fff;
    font-size: 38px;
}
@media screen and (max-width:600px){
    .carousel-text-container p{
    font-size: 20px;
    }
}
#button-wrapper{
    display: flex;
    justify-content: center;
}
.btn{
    font-size: 30px;
}
@media screen and (max-width:800px){
    .btn{
        font-size: 20px;
    }
}
footer{
    min-height: 5vh;
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.social-media{
    font-size: 25px;
}
@media screen and (max-width:800px){
    .social-media{
        font-size: 20px;
    }
}
.social-media a{
    text-decoration: none;
    margin: 0 30px 0 0;
}
.social-media i{
    color: #fff;
    display: inline-block;
}
.social-media a p{
    font-family: 'Roboto';
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}
