/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Page div **/
#page div {
	background: rgba(252, 248, 248, 0) center no-repeat / cover padding-box !important;
}

/** General >> Menu item link **/
.menu-item a:hover:hover {
	border-bottom: 1px solid #ffffff !important;
}

/** General >> Ast button **/
.ast-button {
	background-color: rgba(0,0,0,0) !important;
	border: 2px solid white !important;
}
.ast-button:hover {
	/* MT [ sub: 1 ] */
	border: solid 2px white !important;
	background-color: rgba(255,255,255,1) !important;
}

